<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<img src="images/burger.png">
		<div class="row">
			<div class="col-md-6">
				{{{ body }}}
			</div>
		</div>
		<p class="instructions">Enter a burger you want to eat, then click the submit button!</p>
		<textarea id="newBurger"></textarea>
		<button id="submit">Submit</button>
		<script type="text/javascript" src="js/view.js"></script>
	</body>
</html>
